@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    font-family: 'DM Sans', sans-serif;
    @apply bg-slate-900 px-5 text-white mb-10
  }
  .menu{
    @apply no-underline list-none
  }
  .mySwiper .swiper-button-prev, .mySwiper .swiper-button-next{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: hotpink;
    text-align: center;
}
}